input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.form-wrapper{
    max-width: min-content!important;
    padding: 20px;
    border: 1px solid rgb(149, 147, 147);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;
}
.form-label{
   margin-top:15px;
   margin-bottom: 2px;
   padding: 0px;
   font-size: 1.25vw;
   color:black;
   font-weight: 550;
}
.form-input{
    width:25vw;
    height:2vw;
    font-size: 1.25vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border:.2px solid gray;
    border-radius: 2.5px;
    outline: none;
    color:rgb(4, 4, 170);
    cursor: pointer;
}
/* for alert */
.form-input-alert{
    width:25vw;
    height:2vw;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border:1px solid black;
    border-radius: 2.5px;
    outline: none;
    color:black;
    cursor: pointer;
}

.course-form-input{
    width:55vw;
    height:2.25vw;
    font-size: 1.25vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border:.5px solid rgb(4, 4, 170);
    border-radius: 2.5px;
    outline: none;
    color:rgb(4, 4, 170);
    cursor: pointer;
}
.course-form-textfield{
    width:55vw;
    /* height:2vw; */
    font-size: 1.15vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border:.5px solid rgb(4, 4, 170);
    border-radius: 2.5px;
    outline: none;
    color:rgb(4, 4, 170);
    cursor: pointer;
}

.course-form-input:focus{
    outline: none;
    border:1px solid rgb(4, 4, 170);
}
.course-form-textfield:focus{
    outline: none;
    border:1.5px solid rgb(4, 4, 170);
}
.form-input:focus{
    outline: none;
    border:1px solid rgb(4, 4, 170);
}
.form-button{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 10vw;
    height: 2.5vw;
    background-color: white;
    color:rgb(4, 4, 170);
    border-radius: 5px;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.form-button:hover{
    background-color: rgb(164, 159, 159);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.register-form-select{
    width:25.2vw;
    height:2.3vw;
    font-size: 1.25vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border:.5px solid rgb(4, 4, 170);
    border-radius: 2.5px;
    outline: none;
    color:rgb(4, 4, 170);
    cursor: pointer;
}
.register-form-select-alert{
    width:25.2vw;
    height:2.3vw;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border:.1.5px solid black;
    border-radius: 2.5px;
    outline: none;
    color:black;
    cursor: pointer;
}
.register-form-select-alert{
    outline: none;
    border:1px solid rgb(4, 4, 170);
}
.register-form-select:focus{
    outline: none;
    border:1px solid rgb(4, 4, 170);
}


.course-form-select{
    width:55vw;
    height:2.5vw;
    font-size: 1.25vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border:.5px solid rgb(4, 4, 170);
    border-radius: 2.5px;
    outline: none;
    color:rgb(4, 4, 170);
    cursor: pointer;
}
