.profile-wrapper{
    width:fit-content !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    /* border:1px solid rgb(4, 4, 170); */
    background-color: rgb(223, 232, 235);
    padding:1.5vw;
    border-radius: 2.5px;
    /* background-color: white; */
    cursor: pointer;
    position: relative;
}
.profile-label{
    margin-top:1vw;
    margin-bottom: 1vw;
    padding: 0px;
    font-size: 1.5vw;
    color:rgb(4, 4, 170);
    /* text-align: center; */
    font-weight: 550;
 }
 .profile-info{
    margin-top:1vw;
    margin-bottom: 1vw;
    padding: 0px;
    font-size: 1.5vw;
    color:#3c4147;
    /* text-align: center; */
    font-weight: 400;
 }
 .profile{
    width:fit-content !important;
    margin:0px;
    padding-left:0vw;
    padding-right:1.5vw;

 }
 .profile2{
    /* width:fit-content !important; */
    margin:0px;
    padding-left:1.5vw;
    padding-right:1.5vw;
 }
 .profile-main{
    display: flex; 
    overflow: auto;
    flex-direction: row;
    margin-top:1vw;
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding:0px;
 }

 .profile-button{
    margin-top: 10px;
    margin-bottom: 0px;
    width: 7vw;
    height: 1.8vw;
    /* background-color: white; */
    color:rgb(4, 4, 170);
    /* border:1px solid rgb(4, 4, 170); */
    border-radius: 2.5px;
    font-size: 1vw;
    margin-left: 1vw;
    margin-right: 0px;
}
.profile-button:hover{
    background-color: rgb(4, 4, 170);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.profile-button-disabled{
   margin-top: 10px;
   margin-bottom: 0px;
   width: 7vw;
   height: 1.8vw;
   background-color: white;
   color:grey;
   border:1px solid grey;
   border-radius: 2.5px;
   font-size: 1vw;
   margin-left: 1vw;
   margin-right: 0px;
}
.profile-button-disabled:hover{
   background-color: grey;
   color: white;
   font-weight: 600;
   cursor: pointer;
}